@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Markazi+Text:wght@400..700&display=swap");
 
*{ margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Markazi Text", serif;
  font-weight: 700;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    background-color:#FFFFFF;
    padding: 1.8rem;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: filter(20px);

}
nav ul{
    display:flex ;
    gap: 10px;
}


nav ul li {
    font-size: 24px;
}

.nav-carrito{
    font-size: 20px;
    color: #FFFFFF; 
    background-color: rgb(148, 71, 71); 
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #a64d4d;
}



/*
CONTENEDOR GRID DE MAIN 
*/

.contenedor-grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    padding-top: 1.5rem;
    padding-left: 1.20rem;
    background-color: rgb(148, 71, 71);
}



/*
Cuerpo de las carts
*/

.boton-carrito-ver-carrito{
    cursor: pointer;
}






.bodycart {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 10px;
    width: 80%;
}


.contenedor-img-carts{
    width: 60%;
}

.contenedor-img-carts .img-carts{
    width: 100%;
}

.description-carts {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 30px;
    text-align: center;
    font-size: 40px;
}


.boton-carts {
    margin-top: 10px; 
}


.boton-carts button {
    padding: 10px 20px; 
    font-size: 16px;   
    background-color: #007BFF; 
    color: white;     
    border: none;      
    border-radius: 5px;
    cursor: pointer;    
    transition: background-color 0.3s ease; 
}

.boton-carts button:hover {
    background-color: #0056b3; 
}









/*
    SECCION CARRITO
*/

.header-carrito{
    background-color:#FFFFFF;
    
}



/*DIV CARRITO */

/* H1-CARRITO*/
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegurarse de que el modal esté por encima de otros contenidos */
}

/* Mostrar el modal */
.modal.show {
    display: flex;
}

/* Estilos para el contenido del modal */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 600px;
    max-height: 80vh; /* Altura máxima del modal */
    overflow: auto
}

/* Estilos para el icono de cierre */
.cerrar-carrito {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-body{
 flex-direction: column;
}

.img-carrito img{
    height: 80px;
}

.data-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.vaciar-carrito{
    display: flex;
    justify-content: space-between;
}


.vaciar-carrito-button{
    padding: 10px;
    background-color: rgb(141, 16, 16);
    color: whitesmoke;
    font-size: 18px;
    border-radius: 10px;
}


.finalizar-compra{
    background-color: rgb(38, 223, 38);
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
}
