header{
    background-color: rgb(7, 48, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
header nav a img{
    filter:drop-shadow()(0 0 10px rgb(10, 0, 0));
    
}
header .div-ul-li ul {
    display: flex;
    gap: 50px;
    list-style: none;
}
header .div-ul-li ul a{
    text-decoration: none;
}
header .img-carrito{
    display: flex;
    justify-content:center;
    align-items: center;
}
header .img-carrito img{
    width: 10%;
    height: 10%;
}

main{
    padding-top: 50px;
    display: grid;
    grid-template-rows:repeat(6, 1fr),  ;
    grid-template-columns:repeat(3, 1fr);
    border: 5px solid black;

    
}
/*
Seccion de pagina
*/


.carousel {
    grid-column: 1/4;
    grid-row: 1/2;
}
.carousel .carousel-inner .carousel-item img {
  width: 50%;
  height: 20%;

}

.seccion-buzos{ 
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
/*
borde a las card de buzos y pantalones
*/
.seccion-buzos .card, .seccion-pantalones .card{
    border: 1px solid orange;
}

.seccion-pantalones{
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.seccion-remeras{
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
/*
borde a las card de gorras y remeras 
*/
.seccion-remeras .card, .seccion-gorras .card{
    border: 1px solid orange;
}
.seccion-gorras{
    grid-column: 1/4;
    grid-row: 5/6;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

/*
item -card - card -body
*/
.item .card .card-body{
    text-align: center;
}
